.login-main-container {
    background-image: url('./B1-KCA-ENT.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* Center login form vertically and horinzontally */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
}

#login-form {
    /* Center form */
    width: 900px;
    padding: 20px;
}e
button:hover {
    cursor: pointer;
}
